body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.imgone {
  width: 300px;
  float: left;
  padding: 15px;
}

.imgtwo {
  width: 300px;
  float: right;
  padding: 15px;
}
